<div class="container">
    <h1 class="mt-5">{{blog.title}}</h1>
    <img class="img" src="{{blog.img}}" alt="{{blog.title}}">
    <p class="lead">{{blog.text}}</p>
    <p><span>Author:</span>{{blog.author}}</p>
</div>